<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>
<h2 style="text-align: center; margin-top: 20px;">Create a new Post</h2>
    <form action="/create" method="POST">
    <div class="form-row ml-4">
    <div class="form-group col-md-6">
      <label for="inputTitle">Title </label>
      <input type="text" name="title" class="form-control" id="inputTitle">
    </div>
    </div>
    <div class="form-row ml-4">
        <div class="form-group col-md-6">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  </div>

    <button class="btn btn-primary ml-5" type="submit">Submit Post</button>
    
    </form>
    <br>
    <a href="/home" class="float-left" ><button class="btn btn-primary ml-5">Cancel</button></a>
</body>
</html>